*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins;
}

body{
    background-color: rgb(246, 246, 246);
}

::selection {
    color: rgb(250, 250, 250);
    background: rgb(233, 112, 32);

}